.footer {
	margin-top: 130px;
	background: $footer-bg;
}

.footer__row-1 {
	padding-top: 102px;
}

.footer-info {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 813px) {
	.footer-info {
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer-text {
		width: 100%;
		text-align: center;
	}
}

.footer-description {
	max-width: 445px;
	margin-top: 17px;
}

@media (max-width: 813px) {
	.footer-description {
		max-width: 100%;
	}
}

.brand {
	padding-top: 73px;
	padding-bottom: 140px;
}

@media (max-width:550px) {
	.brand {
		padding-bottom: 60px;
	}
}

.brand__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width:550px) {
	.brand__list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.brand__list-item {
		margin-bottom: 15px;
	}
}