.header-social__list {
	display: flex;
	align-items: center;

	&-item {
		font-family: "TTTravels";
		font-size: 1.1rem;
		display: flex;
		align-items: flex-end;
		letter-spacing: 0.02em;
		color: #000;
		position: relative;

		&:first-child {
			margin-right: 72px;

			&::after {
				content: "";
				opacity: 0.24;
				border: 1px solid #393939;
				width: 56px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(32%, -50%);
			}
		}
	}
}

.header-social__list-item:hover {
	color: blue;
	transition: 0.5s ease-in-out;
}