.header-image {
	z-index: 2;
	width: 100%;
	height: 100%;
	position: relative;

	@media (max-width: 768px) {
		height: 76%;
	}
}


.header-image__list-item {
	transition: 0.8s linear;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.header-image__list-item--left {
	top: 10%;
	left: 11.2%;
	background-image: url("../img/header/1.png");
	width: 238px;
	height: 331px;
	background-size: 215%;
	background-position: center;
	background-position-y: -54px;

	@media (max-width: 1024px) {
		width: 163px;
		height: 226px;
		top: 18%;

		@media (max-width: 768px) {
			left: 3%;

			@media (max-width: 740px) {
				display: none;
			}
		}
	}
}

.header-image__list-item--center {
	top: -3%;
	left: 30%;
	background-image: url("../img/header/2.png");
	width: 476px;
	height: 702px;
	background-size: 120%;

	@media (max-width: 1024px) {
		width: 359px;
		height: 530px;

		@media (max-width:740px) {
			left: 16%;

			@media (max-width:560px) {
				left: 0;

				@media (max-width: 400px) {
					width: 100%;
					height: 403px;

					top: 5%;
				}
			}
		}
	}
}

.header-image__list-item--right {
	top: 50%;
	left: 60%;
	background-image: url("../img/header/3.png");
	width: 345px;
	height: 238px;

	@media (max-width: 1024px) {
		width: 234px;
		height: 162px;
		top: 46%;

		@media (max-width: 768px) {
			left: 70%;

			@media (max-width: 740px) {
				display: none;
			}
		}
	}
}

.header-image__list-item>img {
	object-fit: cover;
}

.mouseMove {
	transform: rotate(-1.5deg);
	transition: 0.8s linear;
}