.header {
	position: relative;

	&-wrap {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 4.8rem;
		position: relative;
	}

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		z-index: 10;
		position: relative;

		@media (max-width: 414px) {
			align-items: center;
		}
	}
}

@media (max-width: 450px) {
	.header-wrap {
		padding: 3.8rem;
	}
}

// ---------------Анимация----------------
.header-bg {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 1%);
	z-index: 1;
}

.bg {
	width: 610px;
	height: 726px;

	@media (max-width: 1024px) {
		width: 506px;
		height: 605px;

		@media (max-width: 768px) {
			width: 628px;
			height: 789px;

			@media (max-width: 610px) {
				width: 392px;
				height: 493px;

				@media (max-width: 375px) {
					width: 339px;
					height: 429px;
				}
			}
		}
	}
}


.path {
	stroke-dasharray: 726;
	stroke-dashoffset: 726;
	animation: dash 5s ease-in-out alternate infinite;
}

@keyframes dash {
	from {
		stroke-dashoffset: 726;
	}

	to {
		stroke-dashoffset: 0;
	}
}

// -------------------------------------
.nav {
	display: flex;
	flex-direction: column;
	margin-bottom: -1.4rem;

	&__link {
		margin-bottom: 1.4rem;
		font-family: "TTTravels";
		font-weight: 300;
		font-size: 1.1rem;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		color: #000;
		transition: 0.5s ease-in-out;

		&:hover {
			color: blue;
			transition: 0.5s ease-in-out;
		}
	}
}


@media (max-width: 414px) {
	.nav {
		display: none;
	}
}