/* ---------Шрифыт----------- */
@font-face {
	font-family: "TTTravels";
	src: url("../fonts/Travel/TTTravels-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "Schnyder";
	src: url("../fonts/Schnyder/Schnyder_X_Cond_XL_Demi.otf") format("truetype");
	font-style: normal;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

/* -------------------------------- */
html {
	font-size: 10px;
}

* {
	box-sizing: border-box;
	outline: none;
}

/* Стили поумолчанию для всех элементов */
body {
	color: #000000;
	font-family: "Open Sans", sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1;
	overflow-x: hidden;
	background-color: #fbfcfc;
	cursor: url("../img/icon/mouse.png"), default;
}

/* Поведение вхех картинок поумолчанию */
img {
	max-width: 100%;
	height: auto;
}

/* Стили ссылок поумолчанию */
a {
	text-decoration: none;
}

a:hover {
	transition-duration: 0.3s;
}

/* Убрать обводку поумолчанию у кнопок, font: inherit - позволит наследовать стили родителя (у кнопки сили шрифтов заданы поумолчанию) */
button {
	border: none;
	outline: none;
	font: inherit;
}

button,
input[type="submit"] {
	cursor: pointer;
}

/* Обёртка всего - идёт после body */
.wrapper {
	position: relative;
}

/* Класс который устанавливет рабочую область для контента */
.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}

/* Медиа запрос - на этом разрешении экрана изменятся отступы по краям */
@media (max-width: 1110px) {
	.container {
		padding: 0 10px;
	}
}