/* ---------Шрифыт----------- */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&display=swap');
/* -------------------------------- */

* {
	box-sizing: border-box;
}

/* Стили поумолчанию для всех элементов */
body {
	color: $color-text;
	font-family: $Fira-fonts;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	overflow-x: hidden;
	background: #F4F4F4;
}

@media (max-width: 500px) {
	body {
		font-size: 16px;
	}
}

h1 {
	font-weight: bold;
	font-size: 60px;
	line-height: 70px;
	letter-spacing: -1px;
	color: $color-h1;
}

@media (max-width: 490px) {
	h1 {
		font-size: 50px;
	}
}

h3 {
	color: $color-h3;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -1px;
}

@media (max-width: 490px) {
	h3 {
		font-size: 30px;
	}
}

section {
	margin-top: 131px;
}

/* Поведение вхех картинок поумолчанию */
img {
	max-width: 100%;
	height: auto;
}

/* Стили ссылок поумолчанию */
a {
	text-decoration: none;
}

a:hover {
	transition-duration: 0.3s;
}

/* Убрать обводку поумолчанию у кнопок, font: inherit - позволит наследовать стили родителя (у кнопки сили шрифтов заданы поумолчанию) */
button {
	border: none;
	outline: none;
	font: inherit;
}

button,
input[type="submit"] {
	cursor: pointer;
}

/* Обёртка всего - идёт после body */
.wrapper {
	position: relative;
}

/* Класс который устанавливет рабочую область для контента */
.container {
	max-width: 1130px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

/* Медиа запрос - на этом разрешении экрана изменятся отступы по краям */
@media (max-width: 1110px) {
	.container {
		padding: 0 15px;
	}
}