.section-title {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: $color-text;
}


.section__row-2 {
	margin-top: 40px;
}

.services-wrap {
	display: flex;
	align-items: center;
}

@media (max-width: 1072px) {
	.services-wrap {
		flex-wrap: wrap;
	}
}

.services-info {
	max-width: 540px;
}

@media (max-width: 1072px) {
	.services-info {
		max-width: 100%;
		text-align: center;
	}
}

.services-menu {
	margin-left: 123px;
}

@media (max-width: 1072px) {
	.services-menu {
		margin-left: 0;
		width: 100%;
	}
}

.services-menu__list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 230px;
}

@media (max-width: 1072px) {
	.services-menu__list {
		margin-top: 20px;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (max-width: 803px) {
	.services-menu__list {
		display: block;
		text-align: center;
	}
}

.services-menu__list-item {
	margin-bottom: 21px;
	margin-right: 113px;
	display: inherit;
}

@media (max-width: 1072px) {
	.services-menu__list-item {
		margin-right: 10px;
		margin-left: 10px;
	}
}

@media (max-width: 803px) {
	.services-menu__list-item {
		margin-right: 0px;
		margin-left: 0px;
	}
}

.services-menu-link {
	font-size: 18px;
	line-height: 28px;
	color: rgba(34, 34, 34, 0.3);
	transition: 0.4s ease-in-out;
}

.services-menu-link:hover,
.services-menu-link:focus {
	color: $button-bg;
	transition: 0.4s ease-in-out;
}

.section__row-3 {
	margin-top: 130px;
}

@media (max-width: 1072px) {
	.section__row-3 {
		margin-top: 70px;
	}
}

.services-promo-photo {
	text-align: center;
}