section.about
	.container
		.section__row-1
			.slogan
				.slogan__list
					.slogan__list-item
						img(src="img/section/about/photo.jpg", alt="Фото")
					.slogan__list-item
						h3 We solve digital problems with an outstanding creative flare
						.section-text The best time to view the moon, obviously, is at night when there are few clouds and the weather is accommodating for a long and lasting study.
						.section-text For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
						.about-me
							.user-poto
								img(src="img/section/about/user-photo/denis.png", alt="Фото директора")
							.user-info
								.user-name Denis Shepovalov
								.user-position Co-Founder & CEO