.content
	.container
		.content-box
			.content-box__list
				.content-box__list-item.content-box__list-item--aside Bclok1
				.content-box__list-item 
					.user
						.user__list
							.user__list-item
								.user-photo
									img(src="", alt="")
								.user-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptatibus autem in non nulla est tempora neque exercitationem, incidunt unde 
							.user__list-item
								.user-photo
									img(src="", alt="")
								.user-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptatibus autem in non nulla est tempora neque exercitationem, incidunt unde
							.user__list-item
								.user-photo
									img(src="", alt="")
								.user-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptatibus autem in non nulla est tempora neque exercitationem, incidunt unde
							.user__list-item
								.user-photo
									img(src="", alt="")
								.user-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptatibus autem in non nulla est tempora neque exercitationem, incidunt unde 
							span.text-box Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta facere ipsam culpa sequi corrupti. Nemo explicabo earum placeat sint impedit debitis itaque. Amet esse alias possimus minima perferendis autem qui!
				.content-box__list-item.content-box__list-item--column Bclok3