.header-image
	.header-image__list
		.header-image__list-item.header-image__list-item--left
			img(src="img/header/1.png", alt="").image-left
		.header-image__list-item.header-image__list-item--center
			img(src="img/header/2.png", alt="").image-center
		.header-image__list-item.header-image__list-item--right
			img(src="img/header/3.png", alt="").image-right