header.header
	.container
		.header__row-1
			.header-inner
				.header-inner__list
					.header-inner__list-item
						a(href="#").logo
							img(src="img/header/logo/logo.png", alt="")
					.header-inner__list-item
						.search
							img(src="img/header/icon/search.svg", alt="")
					.header-inner__list-item
						a(href="#").burger-menu
			.header__row-2
				.header-wrap
					.header-promo
						h1.header-title Work around you and your team
						.header-text From ads that dance or sing to MTV-like commercials, online advertisers are now using a new type of technology “rich media” to attract consumers.
						include ../blocks/button.pug
					.header-bg
						img(src="img/header/Placeholder.jpg", alt="")