section.services
	.container
		.section__row-1
			.section-title — Services
		.section__row-2
			.services-wrap
				.services-info
					h3 We love work hard and explore new things that’s why we cover lot of things. Check our service list and view details
				.services-menu
					ul.services-menu__list
						li.services-menu__list-item
							a(href="").services-menu-link Multimedia
						li.services-menu__list-item
							a(href="").services-menu-link Interactive design
						li.services-menu__list-item
							a(href="").services-menu-link Packaging
						li.services-menu__list-item
							a(href="").services-menu-link Branding
						li.services-menu__list-item
							a(href="").services-menu-link Creative Strategy
						li.services-menu__list-item
							a(href="").services-menu-link UI/UX 
						li.services-menu__list-item
							a(href="").services-menu-link Coding
		.section__row-3
			.services-promo-photo
				img(src="img/section/services/background.png" alt="Большая картинка")