section.works
	.container
		.section__row-1
			.section-title — our works
		.section__row-2
			.works-info
				h3 Discover our Work
				.works-menu
					ul.works-menu__list
						li.works-menu__list-item 
							a(href="").works-menu-link All
						li.works-menu__list-item 
							a(href="").works-menu-link Branding
						li.works-menu__list-item 
							a(href="").works-menu-link Web
						li.works-menu__list-item  
							a(href="").works-menu-link Development
						li.works-menu__list-item 
							a(href="").works-menu-link Films
			.works-gallery
				.works-gallery__list
					.works-gallery__list-item
						<a href="#"><img src="img/section/work/img1.jpg", alt="Картинка"></a>
					.works-gallery__list-item
						<a href="#"><img src="img/section/work/img2.jpg", alt="Картинка"></a>
					.works-gallery__list-item
						<a href="#"><img src="img/section/work/img3.jpg", alt="Картинка"></a>
					.works-gallery__list-item
						<a href="#"><img src="img/section/work/img4.jpg", alt="Картинка"></a>
					.works-gallery__list-item
						<a href="#"><img src="img/section/work/img5.jpg", alt="Картинка"></a>
					.works-gallery__list-item
						<a href="#"><img src="img/section/work/img6.jpg", alt="Картинка"></a>
			.works-end
				.works-end__text It picks up the words on the page and displays ads that are similar to those words. Then when someone either performs an action or clicks on your page you will get paid.
				button.button.button-works see our works